@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:block;
	width: 18px;
	margin: 10px;
	background:#fff;
	background: #504f4f;
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: #c9004c;
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}

#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(145, 144, 144, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:40%;
	left:95%;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }


/* adding images & styles to slider */

.section h1{
	font-size: 30px;
	font-weight: bold;
	line-height: 1em;
	color: #fff;
	margin-bottom: 20px;
	white-space: nowrap;
}

.section h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1em;
	color: rgb(48, 47, 47);
	margin-bottom: 10px;
}

.section p {
	font-size: 16px;
	color: #fff;
	line-height: 1.5em;
}
.section p.large {
	font-size: 20px;
	color: #fff;
	line-height: 1.5em;
}
.section .scroll_down_arrow1 {
	position: fixed;
	top: 10%;
	left: 47%;
}

.section .scroll_down_arrow1:hover {
	opacity: 0.7;
}

.section .scroll_down_arrow2 {
	margin-top: 40px;
}

.section .scroll_down_arrow2:hover {
	opacity: 0.7;
}

.section .arrow_showcase_right {
	width: 70px;
	position: absolute;
	top: 60%;
	left: 45%;
}

.section .scroll_down_arrow3:hover {
	opacity: 0.7;
}

.section .scroll_down_arrow4 {
	width: 60px;
	position: absolute;
	top: 70%;
	left: 70%;
}

.section .scroll_down_arrow4:hover {
	opacity: 0.7;
}

@media (max-width: 767px) {	
	#menu li {
		display: none;
	}
}

/* section0 */

#section0 {
	background: url(../images/image02.png) center/cover no-repeat;
}

#section0 .title_top {
	position: relative;
	text-align: center;
	top: 12%;
	display: none;
}

#section0 .title_top img {
	position: relative;
	width: auto;
	height: 20vh;
}
@media screen and (max-width:735px){
	#section0 {
		background: none !important;
	}
	#section0 .title_top {
		position: relative;
		top: 0;
		display: block;
	}
}

/* section1 */

/* images auto height */



@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	#section1 {
		background: none !important;
	}

}

/* section1 */

#section1 {
	width: 100%;
	margin: 30px auto;
}

#section1 .pannel1-left {
	width: 50%;
	height: 40%;
	float: left;
	position: relative;
	background: #f4c73b;
	top: -13%;
}

#section1 .pannel1-text-left {
	padding-top: 30px;
}

#section1 .pannel1-text-left h1,
#section1 .pannel1-text-left p,
#section1 .pannel1-text-right h1,
#section1 .pannel1-text-right p {
	color: #fff;
}

#section1 .pannel1-left img {
	margin-top: 25px;
	height: 40vh;
}

#section1 .pannel1-right {
	width: 50%;
	height: 40%;
	float: right;
	position: relative;
	background: #358c37;
	top: -6%;
}

#section1 .pannel1-text-right {
	padding-top: 50px;
}

#section1 .pannel1-right img {
	margin-top: 35px;
	height: 30vh;
}

@media (max-width: 767px) {
	#section1 {
		width: 100%;
		margin: 0 auto;
	}

	#section1 .pannel1-left {
		width: 100%;
		height: 30%;
		float: none;
		position: relative;
		background: #f4c73b;
		top: -14%;
	}

	#section1 .pannel1-text-left h1,
	#section1 .pannel1-text-right h1 {
		font-size: 15px;
	}

	#section1 .pannel1-text-left p,
	#section1 .pannel1-text-right p {
		font-size: 10px;
	}

	#section1 .pannel1-text-left {
		padding-top: 20px;
	}

	#section1 .pannel1-left img {
		margin-top: 10px;
		height: 25vh;
	}

	#section1 .pannel1-right {
		width: 100%;
		height: 20%;
		margin-top: 30px;
		float: none;
		position: relative;
		background: #358c37;
		top: 0;
	}

	#section1 .pannel1-text-right {
		padding-top: 20px;
	}
	
	#section1 .pannel1-right img {
		margin-top: 15px;
		height: 25vh;
	}
  }

/* section2 */

#section2 {
	margin: 35px auto;
	width: 100%;
}
#section2 .showcase-top #sidebar-left{
	width: 50%;
	padding: 30px 0 80px;
	background: #144685;
}
#section2 .showcase-top #sidebar-left h3{
	color:#fff;
}
#section2 .showcase-top .left_showcase {
	margin-bottom: 70px;
}

#section2 .showcase-top .right-col {
	width: 80%;
	float: right;
	margin-top: -130px;
}

#section2 .showcase-top .right-col img {
	height: 55vh;
	width: auto;
}

#section2 .showcase-bottom .left_showcase {
	width: 50%;
	float: left;
}

#section2 .showcase-bottom .left_showcase img {
	height: 35vh;
	width: auto;
}

#section2 .showcase-bottom .right-col {
	width: 50%;
	float: right;
}

#section2 .showcase-bottom .right-col img {
	height: 35vh;
	width: auto;
}

/* section3 */

#section3 {
	width: 100%;
}

#section3 .showcase-top {
}
#section3 .showcase-top #sidebar-left{
	width: 50%;
	padding: 30px 0 80px;
	background: #686868;
}


#section3 .showcase-top h1 {
	padding: 15px 0;
	margin-bottom: 40px;
	border-radius: 3px;
}
#section3 .showcase-top #main-col-right {
	width: 70%;
	float: right;
	margin-top: -120px;
}
#section3 .showcase-top #main-col-right img{
	height: 70vh;
	width: auto;
}
#section3 .showcase-bottom h1 {
	margin-bottom: 30px;
	background: #f5f7f9;
	padding: 15px 0;
	border-radius: 3px;
}

#section3 .showcase-bottom p{
	background: #f6c735;
	border-radius: 3px;
	padding: 5px 0;
}

#section3 .showcase-top aside#sidebar-left {
	margin-top: 30px;
}

/* section4 */

#section4 {
	width: 100%;
	margin-top: 60px;
}

#section4 .pannel4-top {
	width: 85%;
	height: 40%;
	background: #454445;
}

#section4 .pannel4-text-top {
	position: relative;
	top: 15%;
	left: 31%;
}

#section4 .pannel4-text-top h1,
#section4 .pannel4-text-top p {
	color: #fff;
}

#section4 .pannel4-middle {
	position: absolute;
	float: left;
	clear: right;
	left: 0;
	top: 15%;
	margin-left: 40px;
}

#section4 .pannel4-bottom {
	position: relative;
	top: -10%;
	left: 20%;
	margin-right: 20px;
}

#section4 .pannel4-bottom p {
	color: #fff;
}

#section4 .pannel4-middle img {
	height: 65vh;
}

#section4 .pannel4-bottom img {
	height: 50vh;
}

/* section5 */

#section5{
	width: 100%;
	margin-top: 80px;
}

#section5 .pannel5-top {
	width: 85%;
	height: 40%;
	background: #ded105;
	margin: 3% 0 0 auto;
}

#section5 .pannel5-text-top {
	position: relative;
	top: 15%;
	background: #ded105;
	margin: 0 60% 0 auto;
	padding-bottom: 2%;
	width: 45%;
}

#section5 .pannel5-text-top h1,
#section5 .pannel5-text-top p {
	color: #fff;
}
#section5 .pannel5-text-top img {
	height: 18vh;
}
#section5 .pannel5-middle {
	position: absolute;
	float: left;
	clear: right;
	left: 0;
	top: 25%;
	margin-left: 20%;
}

#section5 .pannel5-bottom {
	position: relative;
	top: -30%;
	left: 22%;
}

#section5 .pannel5-bottom p {
	color: #fff;
}

#section5 .pannel5-middle img {
	height: 18vh;
}

#section5 .pannel5-bottom img {
	height: 68vh;
}

/* section6 */

#section6 {
	width: 100%;
	margin-top: 60px;
}

#section6 .pannel6-top {
	width: 85%;
	height: 40%;
	background: #621b80;
}

#section6 .pannel6-text-top {
	position: relative;
	top: 23%;
	left: 27%;
}

#section6 .pannel6-text-top h1,
#section6 .pannel6-text-top p {
	color: #fff;
}

#section6 .pannel6-middle {
	position: absolute;
	float: left;
	clear: right;
	left: 0;
	top: 15%;
	margin-left: 40px;
}

#section6 .pannel6-bottom {
	position: relative;
	top: -10%;
	left: 20%;
	margin-right: 20px;
}

#section6 .pannel6-bottom p {
	color: #fff;
}

#section6 .pannel6-middle img {
	height: 65vh;
}

#section6 .pannel6-bottom img {
	height: 50vh;
}

/* section7 */

#section7 {
	width: 100%;
	margin: 30px auto;
}

#section7 .pannel7 {
	position: relative;
	top: -30%;
	padding: 80px 0;
}

#section7 .pannel7-top {
	background-color: #9d6736;
	width: 85%;
	float: right;
	padding: 50px 0 150px;
}

#section7 .pannel7-top .pannel7-text-left h1 {
	color: #fff;
	padding: 0 50px;
	float: left;
}

#section7 .pannel7-top .pannel7-text-right h2 {
	color: #fff;
	text-align: left;
}

#section7 .pannel7-bottom {
	width: 100%;
	position: relative;
	margin: 150px 0 0 0;
}

#section7 .pannel7-bottom .pannel7-img-left {
	position: absolute;
	width: 100%;
}

#section7 .pannel7-bottom .pannel7-img-left img {
	height: 55vh;
}

#section7 .ft_link_box {
	position: absolute;
	bottom: 25px;
	right:10px;
	z-index: 999;
}


@media screen and (max-width:735px){
	.about_sp img{
		width: 100%;
	}
	.about_sp img:first-child {
		margin-top: 60px;
	}
}