/* ---------------------------------------------------------------------
共通
--------------------------------------------------------------------- */
html,body{
    width: 100%;
}

body{
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ" , "MS PGothic", "Osaka", arial, helvetica, clean, sans-serif;
	margin:0;
	padding:0;
	line-height:160%;
	font-size:14px;
}


a:link {
	color: #0071c7;
	text-decoration: none;
}
a:hover {
	color: #f5dc00;
	text-decoration: underline;
}
a:visited {
	color: #0071c7;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

a:hover img {
/*	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.70;*/
}
a img{
	border:none;
}
.clear{
	clear:both;
}


.cf::after {

    content: "";
    display: block;
    height: 0;
    clear: both;

}
nav a:hover img {

}

/* ---------------------------------------------------------------------
タグリセット
--------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,p,div,ul,li,dl,dt,dd,form {
	margin: 0px;
	padding: 0px;
}
ul,li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ol li {
	list-style:none;
}
img {
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align:bottom;
}
table,tr,td{
	border-collapse: separate;
}

/* ---------------------------------------------------------------------
ヘッダー
--------------------------------------------------------------------- */

header{
    height: 4.8vw;
    padding-top: 0 !important;
    position: fixed !important;
    width: 100%;
    z-index: 1000;
	box-shadow: 0 3px 10px 2px #c4c4c4;
}
.hd_wrap {
	width:100%;
	padding:0;
	margin:0 auto;
	background-color:#fff;
}




.hd_box{
	width:100%;
	float:left;
	margin: 0 auto;
}
.logo{
	width: 28vw;
	float:left;
	padding: 0.8vw 0 0 2vw;

}
.logo a img{
	width: 90%;
}
.entry{
	width:12vw;
	height: 4.8vw;
	float:right;
	background-color:#c9004c;

}
.entry a{
	background: url(../images/btn_entry.jpg) no-repeat center 2px;
    background-size: auto 90%;
	text-indent: -9999px;
	padding:1vw 1vw;
	display:block;
}
.entry a img{
	width: 100%;
	height: auto;
}
/*ナビ*/
nav {
	background-color:#fff;
	margin-bottom: 0px;
	overflow: hidden;
	position: absolute;
	left: 30vw;
	float:left;
	height: 4.8vw;
}
@media screen and (max-width:735px){
	nav {
	background-color:#fff;
	margin-bottom: 0px;
	overflow: hidden;
	position: absolute;
	left: 0;
	float:none;
	height: auto;
	}

}
nav ul {
}
nav li:first-child{
	width: 15vw;
  }
nav li{
	width: 10vw;
	float: left;
	text-align: center;
  }
nav li a{
	padding: 1.5vw 0;
	color:#000 !important;
	position: relative;
	display: inline-block;
	font-size: 1em;
}
nav li a::before {
  position: absolute;
  top: 2.8em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #c9004c;
  transition: 1s;
}
nav li a:hover{
  text-decoration:none;
}

nav li a:hover:before{
  width: 100%;
}
nav li a img{
	border-bottom:#FFF 2px solid;
	transition: 0.3s;
}
nav li a.on img{
	border-bottom:#144685 2px solid;
}

nav li a:hover img{
	border-bottom:#144685 2px solid;
}

/*メイン*/
.main_wrap{
	width:100%;
	padding:10px 0;
}
.main{
	margin:0 auto;
	z-index:50;
}

/* ---------------------------------------------------------------------
1分でわかるヤマダ
--------------------------------------------------------------------- */

.minute {
	padding: 4.8vw 0 0;
}
.minute img {
	width:100%;
	height:100%;
}

#tl_about {
	position:absolute;
	top: 20vw;
	left: 58vw;
}

#tl_about img{
	width:20vw;
}




/* ---------------------------------------------------------------------
製品紹介
--------------------------------------------------------------------- */
.map {
	width:100%;
	margin:0 auto;
	padding-top:4.8vw;
}
.map_cont {
	width:1000px;
	margin:50px auto 60px;
	height:auto;
	position: relative;
}
.map h2{
	margin:0 0 30px;
	font-weight:normal;
	background-color: #eaeaea;
	width: 300px;
	height: 80px;
	padding: 15px;
	position: absolute;
	top: 0;
	left: 60px;
}
.map h2 span{
	font-size:24px;
	text-align:center;
	display:block;
	padding-bottom:10px;
}
.main_map {
}
.map_cont ul li{
	position:absolute;
}
.map_cont ul.pc li:nth-child(1) a:hover{
	background:url(../images/map_t1_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 187px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(2) a:hover{
	background:url(../images/map_t2_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 76px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(3) a:hover{
	background:url(../images/map_t3_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 118px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(4) a:hover{
	background:url(../images/map_t4_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 79px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(5) a:hover{
	background:url(../images/map_t5_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 105px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(6) a:hover{
	background:url(../images/map_t6_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 145px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(7) a:hover{
	background:url(../images/map_t7_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 93px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(8) a:hover{
	background:url(../images/map_t8_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 95px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(9) a:hover{
	background:url(../images/map_t9_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 118px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(10) a:hover{
	background:url(../images/map_t10_on.png) no-repeat 0 0;
	display: block;
	background-size: cover;
	text-indent: -9999px;
	width: 161px;
	height: 59px;
}
.map_cont ul.pc li:nth-child(1){
	top: 30px;
	left: 780px;
}
.map_cont ul.pc li:nth-child(2){
	top: 400px;
	left: 750px;
}
.map_cont ul.pc li:nth-child(3){
	top: 610px;
	left: 540px;
}
.map_cont ul.pc li:nth-child(4){
	top: 630px;
	left: 200px;
}
.map_cont ul.pc li:nth-child(5){
	top: 180px;
	left: 420px;
}
.map_cont ul.pc li:nth-child(6){
	top: 530px;
	left: 350px;
}
.map_cont ul.pc li:nth-child(7){
	top: 280px;
	left: 265px;
}
.map_cont ul.pc li:nth-child(8){
	top: 215px;
	left: 105px;
}
.map_cont ul.pc li:nth-child(9){
	top: 0;
	left: 540px;
}
.map_cont ul.pc li:nth-child(10){
	top: 430px;
	left: 0;
}
/* ---------------------------------------------------------------------
工場見学
--------------------------------------------------------------------- */
.factory{
	width:100%;
	margin:0 auto;
}
.factory h2{
	position:relative;
}
.factory h2 img{
    border: 0px;
}

#sample1{
    top: 12vw;
    left: 0;
	right:0;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
}
.factory h2 img#sample1{
	width:70vw;
}

.factory h2 img{
	width:100%;
	margin:0 auto;
	position:relative;
	top:4.8vw;
}
.factory h3{
	position:absolute;
	text-align:center;
	font-size:24px;
	color:#333;
	top: 7vw;
	border-bottom: 1px solid #333;
	padding: 0 0 15px 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 30vw;
}
.factory h4.sub{
	position:absolute;
	text-align:center;
	font-size:14px;
	color:#333;
	top: 10vw;
	padding: 10px 0 0 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	font-weight: normal;
}

.floor{
	margin:0 auto;
}
.floor h4{
	margin: 10vw auto 1vw;
}
.floor h4 img{
	width:20vw;
	margin: 0 auto;
	display: block;

}
.floor p{
	text-align:center;
	margin-bottom: 4vw;
	color:#333;
}
.floor img{
	width: 70%;
	margin: 0 auto;
	display: block;
}
.flow h4{
	margin: 10vw auto 2vw;
	text-align: center;
	font-size: 24px;
	color: #333;
}
.flow h4 img{
	width:20vw;
	margin: 0 auto;
	display: block;

}
.flow ul.menu {
	background:#144685;
	height:13vw;
	padding:0 7vw 0 7vw;
	display: flex;
	justify-content: space-between;
}
.flow ul.menu li{
	color:#fff;
	text-align:center;
	height: 11vw;
	width: 13vw;
	padding: 1.2vw 0 0.8vw;	
	border-left: 1px solid #4079c1;
}
.flow ul.menu li:last-child{
	border-right: 1px solid #4079c1;
}

.flow ul.menu li a{
	color:#fff;
	display: block;
	height: 10vw;
}
.flow ul.menu li a:hover{
	color:#f6ea2c;
	text-decoration:none;
}
.flow ul li a span:first-child{
	font-size: 18px;
	border-radius:0.5em;
	background:#fff;
	display: block;
	padding: 0.5vw;
	margin:0 auto 1vw;
	width: 2vw;
	height: 2vw;
	color:#4079c1;
}
.flow ul li a span:last-child{
	display: flex;
	align-items: center;
	height: 6vw;
	justify-content: center;
}
.flow h5{
	margin: 5vw auto 2vw;
}
.flow h5.user{
	margin: 0 auto 2vw;
}

.flow h5 img{
	margin: 0 auto;
	display: block;

}
.flow .list,.flow .list_2,.flow .list_3,.flow .list_3_2{
	margin: 50px 50px 50px 50px;
	list-style-type: none;
	overflow: hidden;
}
.flow .list li,.flow .list_2 li{
	margin: 0 20px 50px 20px;
	float: left;
	transition: .8s;
	border:none;
	width:auto;
	height:auto;
}
.flow .list_2 li:first-child{
	margin: 80px 20px 50px 20px;
	float: left;
	transition: .8s;
	border:none;
	width:auto;
	height:auto;
}

.flow .list_3 li{
	margin: 0 10px 50px 10px;
	float: left;
	transition: .8s;
	border:none;
	width:auto;
	height:auto;
}
.flow .list_3_2 li:first-child{
	margin: 0 10px 50px 10px;
	float: left;
	transition: .8s;
	border:none;
	width:auto;
	height:auto;
}
.flow .list_3_2 li:nth-child(2),.flow .list_3_2 li:nth-child(3){
	margin: 70px 10px 50px 10px;
	float: left;
	transition: .8s;
	border:none;
	width:auto;
	height:auto;
}
.flow .list li:last-child,.flow .list_2 li:last-child,.flow .list_3 li:last-child,.flow .list_3_2 li:last-child{
	border:none;
}
.flow .list li.list-mv01,.flow .list_2 li.list-mv01,.flow .list_3 li.list-mv01,.flow .list_3_2 li.list-mv01{
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
}
.flow .list li.mv01,.flow .list_2 li.mv01,.flow .list_3 li.mv01,.flow .list_3_2 li.mv01{
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}
.flow ul.list,.flow ul.list_2,.flow ul.list_3,.flow ul.list_3_2 {
	background:none;
	height:auto;
	margin: 0 auto;
	padding:0;
	width:82vw;
}
.flow ul.list_2 {
	background:none;
	height:auto;
	margin: 0 auto;
	padding:0;
	width:60vw;
}
.flow .list li img{
	width:36vw;
}

.flow .list_2 li img,.flow .list_3 li img,.flow .list_3_2 li img{
	width:25vw;
}
.flow p{
	text-align:center;
	margin-bottom: 4vw;
	color:#333;
}

/* ---------------------------------------------------------------------
座談会（社員紹介）
--------------------------------------------------------------------- */
.staff_cont{
	width:100%;
	margin:0 auto;
}
.staff_box{
	width:1000px;
	margin:60px auto 0;
}
.staff_cont h2{
	padding-top:4.8vw;
}
.staff_cont h2 img{
	width:100%;
	height:auto;
}
.staff_cont hr{
	border:solid 1px #CCC;
	margin: 60px auto 0;
	width: 1000px;
}
.txtPhtArea {
    padding-top: 35px;
}
.txtArea {
    width: 1000px;
}
.txtArea dl dt:nth-child(1) {
    padding-top: 0px;
}
.txtArea dl dt {
    width: 128px;
    padding-top: 25px;
    float: left;
}
.txtArea dl dd:nth-child(2) {
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
}
.txtArea dl dd {
    margin-left: 150px;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px #ccc dotted;
    min-height: 90px;
    font-size: 14px;
    line-height: 1.85;
}
.txtArea dl dd::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.phtArea_box {
    width: 100%;
    margin: 60px auto 60px;
	background:url(../images/staff_p_bg.gif) 50px repeat-x;
}
.phtArea_wrap {
}

.phtArea {
    width: 800px;
    margin: 0 auto 60px;
}
.phtArea p:first-child{
    float: left;
	margin-bottom:60px;
}
.phtArea p:last-child{
    float: right;
margin-bottom:60px;
}
.txtArea dl.cross dt {
    width: 1000px;
}

.txtArea dl.cross dt {
    width: 117px;
    padding: 25px 0 0 0;
    content: "";
    display: block;
	float:left;
}
.txtArea dl.cross dt:nth-child(3) {
    width: 117px;
    padding: 25px 0 70px 20px;
    content: "";
    display: block;
	float:left;
}
.txtArea dl.cross dt:nth-child(7) {
    width: 117px;
    padding: 25px 0 70px 20px;
    content: "";
    display: block;
	float:left;
}

.txtArea dl.cross dt.short:nth-child(3) {
    width: 117px;
    padding: 25px 0 30px 20px;
    content: "";
    display: block;
	float:left;
}

.txtArea dl.cross dd:nth-child(2)  {
    margin: 0 0 0 0;
	width:352px;
	content: "";
    display: block;
	border: none;
	padding: 10px;
	float: left;
}
.txtArea dl.cross dd:nth-child(6)  {
	padding: 30px 10px 10px;
    margin: 0 0 0 0;
	width:352px;
	content: "";
    display: block;
	border-right: 2px #ccc dotted;
	float: left;
}
.txtArea dl.cross dd:nth-child(4) {
    margin: 0;
	width:352px;
	content: "";
    display: block;
	border:none;
	padding: 10px 10px 14px 10px;
	float: left;
}
.txtArea dl.cross dd.space:nth-child(4) {
	padding: 10px 0 115px 10px;
}
.txtArea dl.cross dd.space2:nth-child(4) {
	padding: 10px 0 90px 10px;
}
.txtArea dl.cross dd.space:nth-child(6) {
	padding: 30px 10px 190px 10px;
}

.txtArea dl.cross dd:nth-child(8) {
	margin: 0;
    padding-top: 0px;
	width:352px;
	content: "";
    display: block;
	border-top:2px #ccc dotted;
	padding: 30px 10px 10px;
	float: left;
}
.txtArea dl.cross dt:nth-child(3) {
	border-left:2px #ccc dotted;
}

.txtArea dl.cross dt:nth-child(5),.txtArea dl.cross dt:nth-child(7) {
	border-top:2px #ccc dotted;
}


.txtArea dl.line {
    width: 1000px;
}

.txtArea dl.line dt {
    width: 117px;
    padding: 0 0 0 0;
    content: "";
    display: block;
	float:left;
}
.txtArea dl.line dt:nth-child(3),.txtArea dl.line dt:nth-child(7) {
    width: 117px;
    padding: 0 0 0 350px;
    content: "";
    display: block;
	float:left;
}
.txtArea dl.line dd {
    margin: 0 0 0 0;
	width:500px;
	content: "";
    display: block;
	border: none;
	padding: 0 0 30px 10px;
	float: left;
}
.txtArea dl.line dd.short {
    margin: 0 0 0 0;
	width:500px;
	content: "";
    display: block;
	border: none;
	padding: 0 0 70px 10px;
	float: left;
}
.txtArea dl.line dd.short2 {
    margin: 0 0 0 0;
	width:500px;
	content: "";
    display: block;
	border: none;
	padding: 35px 0 45px 10px;
	float: left;
}
.txtArea dl.line dt.mt,.txtArea dl.line dd.mt {
	margin-top:-40px;
}



.wordArea{
	margin:35px 0 80px;
}
.wordArea_cont{
	width:1000px;
}
.wordArea_cont ul{
	display:flex;
	justify-content:space-between;
}
.wordArea_cont ul li{
	width:200px;
	height:auto;
	background-color:#eaeaea;
	padding:20px 15px;
	border-radius: 0.5em; 
}
.wordArea_cont ul li img{
	width: 190px;
	margin: 0 auto;
	display: block;
}
.wordArea_cont ul li span{
	display:block;
	width:190px;
	color:#000;
	height:auto;
	padding:10px 10px 0 10px;
}
/* ---------------------------------------------------------------------
募集要項
--------------------------------------------------------------------- */
.recruit {
	padding-top:4.8vw;
	width:1000px;
	margin:0 auto;
	height: 60vw;
}
.recruit p{
	text-align: center;
	width:1000px;
	margin:100px auto 0;
	font-size: 22px;
}
.recruit h2{
	margin:20px auto;
}
.recruit h2 img{
	margin:0 auto;
	display:block;
}
.recruit th,
.recruit td {
	border-bottom: 1px #dcdcdc solid;
	line-height:180%;
}
.recruit table{
	border-top: 1px #dcdcdc solid;
}
.mynavi img{
	border: 1px #dcdcdc solid;
}


/*写真が400*/
.m_box_tx400{
	width:540px;
	float:left;
	margin-right:20px;
}
.fl_pic400{
	width:400px;
	float:right;
	text-align:right;
}


.mb_txt{
	font-size:16px;
	font-weight:normal;
	line-height:170%;
}



/* ---------------------------------------------------------------------
フッター
--------------------------------------------------------------------- */
footer{
}

/*ページトップ*/
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.ft_wrap {
	width:100%;
	margin:0 auto;
}

.ft_info_box{
    padding: 10px 0 0 20px;
}
.ft_link_box {
	text-align: right;
}
.ft_link_box ul {
    height: 20px;
    margin: 5px 0 10px 0;
    padding: 0 20px 0 0;
    float: right;
}
.ft_link_box ul li{
	float: left;
	padding: 4px 0 0 10px;
}
.ft_link_box ul li img {
    display: block;
    float: left;
}
.image_txt{
	font-size:10px;
	text-align:right;
	padding-top:2px;
}
	.ft_info_box span{
		display: inline !important;
	}	
.hd_wrap{
	display:block;
}


/*フッターコピー*/

.ft_copy_wrap{
	width:1000px;
	margin:0 auto;
}

.ft_copy_box{
	width:288px;
	margin:0 0 0 357px;
	float:left;
}
.ft_entry_box{
	width:275px;
	float:right;
	margin-top:48px;
}



.image_txt{
	font-size:10px;
	text-align:right;
	padding-top:2px;
}



.hd_wrap{
	display:block;
}

/*PC用display:none;■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.pc{
	display:block !important;
}
.sp{
	display:none !important;
}
.sp_hd_wrap{
	display:none;
}
.slidemenu {
	display:none;
}
.oneday_sp_anc{
	display:none;
}

/* ------------------------------画面の横幅が735px以下 (スマホ/タブレット) ------------------------------*/
@media screen and (max-width:735px){

/*SP用display:none;■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.pc{
	display:none !important;
}
.sp{
	display:block !important;
}
.hd_wrap{
	display:none;
}

/*header*/
	#header-out,.head-mg{
	display: flex;
}

.logo a img{
width: 100%;
height: auto;
	}	
	
	
header{
    height: auto;
	width:100%;
	background:#fcfcfc;
	border-top:none;
	box-shadow: 0 3px 10px 0px #c4c4c4;
}
#header {
	height: 50px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
	z-index: 2;
}

#header .logo {
	display: block;
	float: left;
	height: auto;
	width: 55vw;
	margin-top: 0px;

}
#header .toplogo {
	margin-top: 8px;
	width:60vw;
}
#header ul li.mynavi {
	float: left;
	height: auto;
	width: 20vw;
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mynavi{
	background-color: #c9004c;
	padding: 0px 10px 0px;
	margin: 5px 10px !important;
	height: 40px !important;
	width: 12vw !important;
	}
.mynavi a{
	color:#fff !important;
	text-align: center;
	font-size:80%;
	}
/*-----スマホ用折り畳みメニュー------*/

#slide-header {
	height: 50px;
	position: fixed;
	width: 50px;
	z-index: 3;
	right: 0px;
	top: 0px;
	display: block;
	margin-right: 10px;
}
#slide-header .button {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	top: 0px;
}

.menu-button-right {
	right: 0px;
}

#menu-nav {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}
#menu-button {
	vertical-align: bottom;
	float: right;
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(../images/menu_button.png);
	background-position: center top;
	background-size:50px;
    

}
#menu-button.selected,
#menu-button:active {
    opacity: 1;
	background-repeat: no-repeat;
	background-image: url(../images/menu_button-on.png);
	background-position: center top;
	background-size:50px;
	z-index:4;
    
}
#menu-button-inner {
    width: 50px;
    height: 65px;
	z-index:4;
}
#gNavi {
	box-sizing: border-box;
	clear: both;
	display: none;
	position: fixed;
	width: 100%;
	z-index: 100;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: rgba(0,0,0,0.5);
	top: 50px;
	
}

#gNavi ul {
	overflow: hidden;
	border-radius: 5px;
	/**border: 1px solid #ccc;
	box-shadow:0 0px 10px #ccc;**/
}
#gNavi li {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	width: 100%;
}
#gNavi li br{
	display:none;
}
#gNavi li:last-child {
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #ccc;
}

#gNavi a {
	white-space: nowrap;
	text-decoration: none;
	display: block;
	line-height: 2em; /* 46/16 = 3.375em */
	height: 2em; /* 46/16 = 3.375em */
	padding: 5px; /* 6/16 = .375em */
	font-weight: bold;
	/**background-image: url(../img/icon03.png);
	background-repeat: no-repeat;
	background-position: right center;**/
	color: #fff !important;
}
#gNavi ul li .pd {
	padding-top: 0px;
	padding-bottom: 0px;
}
#gNavi a:hover,
#gNavi a:active {
    
	
}
#gNavi ul li img {
	display:none;
}
/*-----//スマホ用折り畳みメニュー------*/







/* pager */
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    right: 0px !important;
    bottom: 0px !important;
    z-index: 2000;
}


	
/*　製品紹介　==================================*/
	.map {
    width: 100%;
    margin: 10px auto;
    padding-top: 50px;
}
	.map_cont{
		margin: 0 auto 60px;
	}

.map h2 {
    margin: 0 auto 30px;
    font-weight: normal;
    background-color: #eaeaea;
    width: 80vw;
    height: auto;
    padding: 15px;
    position: static;
    top: 0;
    left: 0;
}
	.map_cont img {
		width: 100%;
	}


	.map h2 span {
    font-size: 16px;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}

.map_cont {
	width: 100%;
}
.map_cont img {
	width: 100vw;
}
.map_cont ul li {
    position: static;
    margin: 0 10px 5px;
        margin-right: 10px;
    width: 42%;
    float: left;
    background-color: #ffffcc;
    padding: 5px 2px;
}
.map_cont ul li:nth-child(odd) {
	margin-right: 3%;
}
.map_cont p {
		text-align: center;
		margin: 10px auto;
	}

	
.map_cont ul li a {
	color:#000 !important;
}
.map_cont ul.sp {
	padding: 10px;
	text-align: center;
} 

/*　工場見学　==================================*/
.factory {
    width: 100%;
	margin: 10px auto;
	padding-top: 50px;
	}
.factory h2  {
    text-align: center;
	color: #000;
	width: 100%;

}
.factory h3 {
    color: #000;
    width: 80%;
	font-size: 14px;
	position: static;
	text-align: left;
	font-weight: normal;
	border:none;
}
.flow h4 {
    margin: 10vw auto 2vw;
    text-align: center;
    font-size: 100%;
    color: #333;
}
.factory h4 img {
    width: 100%;
}
	.floor h4 img {
    width: 30%;
}
	.flow h4 img {
    width: 30%;
}
	.floor img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.flow ul.menu {
    background: #144685;
    height: auto;
	padding: 3vw 7vw 0 5vw;
	display: block;
	margin: 0 auto;
	width: 80%;
}
.flow ul.menu li {
    color: #fff;
    text-align: left;
    height: auto;
    width: 100%;
    padding: 0;
    border-left: none;
}
.flow ul li a span:first-child {
    font-size: 18px;
    border-radius: 0.5em;
    background: #fff;
    display: inline;
    padding: 0.5vw;
    margin: 0 auto 1vw;
    width: 5%;
    height: auto;
    color: #4079c1;
}	
.flow ul.menu li:last-child {
    border-right: none;
}
.flow ul li a span:last-child {
    display: inline;
    align-items: center;
    height: auto;
    justify-content: center;
	padding-left: 10px;
}	
flow ul.menu li a {
    color: #fff;
    display: block;
    height: auto;
}
.flow .list li img {
    width: 80%;
    margin: 0 auto;
    display: block;
}	
.flow .list_2 li img, .flow .list_3 li img, .flow .list_3_2 li img {
    width: 80%;
	margin: 0 auto;
    display: block;

}
.flow ul.list, .flow ul.list_2, .flow ul.list_3, .flow ul.list_3_2 {
    background: none;
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.flow .list li, .flow .list_2 li {
    margin: 0 20px 50px 20px;
    float: none;
    transition: .8s;
    border: none;
    width: auto;
    height: auto;
}
.flow .list_3 li {
    margin: 0 10px 50px 10px;
    float: none;
    transition: .8s;
    border: none;
    width: auto;
    height: auto;
}
.flow p {
    text-align: left;
    margin-bottom: 4vw;
    color: #333;
	width:90%;
	margin:0 auto 10px;
}
.flow .list_2 li:first-child {
    margin: 0px 20px 50px 20px;
    float: none;
    transition: .8s;
    border: none;
    width: auto;
    height: auto;
}	
.flow .list_3_2 li:nth-child(2), .flow .list_3_2 li:nth-child(3) {
    margin: 0 10px 50px 10px;
    float: none;
    transition: .8s;
    border: none;
    width: auto;
    height: auto;
}
.flow h5 img {
    margin: 0 auto;
    display: block;
    width: 80%;
}
.flow h5#anc1 img,.flow h5#anc5 img,.flow h5#anc6 img {
    margin: 0 auto;
    display: block;
    width: 50%;
}

/*　社員紹介　==================================*/
.staff_box {
    width: 100%;
    margin: 20px auto 0;
}
	
.staff_box div h3 img {
	width:100%;
}	
.txtArea {
    width: 98%;
}
.txtArea dl.line {
    width: 100%;
}
.txtPhtArea {
    padding-top: 15px;
}
.txtArea dl.line dt {
    width: 20%;
	margin: 0 0 0 10px;
}
.txtArea dl.line dt img{
    width: 100%;
}
.txtArea dl.line dd {
    margin: 0 0 0 0;
    width: 70%;
    content: "";
    display: block;
    border: none;
    padding: 0 0 30px 10px;
    float: left;
	line-height: 1.2;
}
.txtArea dl.line dt:nth-child(3), .txtArea dl.line dt:nth-child(7) {
    width: 20%;
    padding: 0 0 0 0;
    content: "";
    display: block;
    float: left;
}
.txtArea dl.line dd.short {
    margin: 0 0 0 0;
    width: 70%;
    content: "";
    display: block;
    border: none;
    padding: 0 0 30px 10px;
    float: left;
}
.txtArea dl dt {
    width: 20%;
    padding-top: 25px;
    float: left;
}
.txtArea dl dt img{
    width: 100%;
}
.txtArea dl dd {
    margin-left: 0;
    margin-top: 30px;
    padding-top: 30px;
	padding-right:5px;
    border-top: 0;
    min-height: 0;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
}
.txtArea dl dt {
    width: 20%;
    padding-top: 25px;
    float: left;
    padding: 0 5px 60px 5px;
}
.phtArea {
    width: 100%;
    margin: 0 auto 60px;
}
.phtArea_box {
    width: 80%;
    margin: 30px auto 10px;
    background: none;
}
.phtArea p:first-child {
    float: none;
    margin-bottom: 10px;
}
.txtArea dl.line dt.mt, .txtArea dl.line dd.mt {
    margin-top: 0;
}
.txtArea dl.line dd.short2 {
    margin: 0 0 0 0;
    width: 70%;
    content: "";
    display: block;
    border: none;
    padding: 35px 0 45px 10px;
    float: left;
}
.phtArea p img {
    width:100%;
	height: auto;
}
.wordArea_cont {
    width: 100%;
}
.wordArea_cont ul {
    display: block;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.wordArea_cont ul li {
    width: 90%;
    height: auto;
    background-color: #eaeaea;
    padding: 20px 15px;
    border-radius: 0.5em;
    margin-bottom: 5px;
}
.wordArea_cont ul li img {
    width: 70%;
    margin: 0 auto;
    display: block;
}
.wordArea_cont ul li span {
    display: block;
    width: 90%;
    color: #000;
    height: auto;
    padding: 10px 10px 0 10px;
}
.staff_cont {
    width: 100%;
	margin: 10px auto;
	padding-top: 50px;
}
/*　フッター　==================================*/
footer {
    clear: both;
}
	
.ft_link_box {
    text-align: right;
    background-color: #ddd;
}
	.ft_info_box span{
		display: block !important;
	}	
	.ft_info_box span.pc {
		display: none !important;
	}	
.ft_link_box ul {
    height: auto;
    margin: 15px auto 10px;
    padding: 20px 0;
    float: none;
    background-color: none;
    width: 90%;
	display: flex;
	justify-content: space-between;
}	
.ft_link_box ul li {
	padding-right: 3%;
	height: auto;
}
.ft_link_box ul span {
	font-size:11px;
	color: #000;
}
.ft_link_box ul li img {
    display: block;
    float: right;
}	
.ft_link_box ul li:first-child img {
    width:80%;
}
.ft_link_box ul li:nth-child(2) img {
    width:100%;
}
.ft_link_box ul li:last-child img {
    width:100%;
}	
.ft_copy_wrap{
	width:96%;
	margin:0 auto;
}

.ft_copy_box{
	width:80%;
	margin:0 auto;
	float:none;
}
.ft_copy_box img{
	width:100%;
	height:auto;
}
.ft_entry_box{
	width:90%;
	float:none;
	margin:0 auto 10px;
}
.ft_entry_box img{
	width:100%;
	height:auto;
}
/*ページトップ*/
#page-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


/*　社員紹介　==================================*/
.staff_box {
    width: 100%;
	margin: 10px auto;
	padding-top: 50px;

}




/*募集要項*/

.recruit {
	margin: 10px auto;
	padding-top: 50px;
	width: 100%;
}
.recruit h2 img {
    width:60vw;
	height: auto;
}
.recruit p {
    text-align: center;
    width: 100%;
    margin: 100px auto 0;
    font-size: 22px;
}
.recruit table th {
		display: block !important;
		padding:0 10px !important;
	}
	
.recruit table th,
.recruit table td {
		display: list-item !important;
		width:100% !important;
		padding: 10px 5px !important;
		list-style: none;
		border-collapse: collapse;
	/*スマホで勝手に文字が大きくなる対策*/
    max-height: 999999px;
	}
.recruit table td img{
	width:100%;
	height:auto;
}
.recruit table{
		width: 94% !important;
		border: none!important;
		border-collapse: collapse;
		text-align: left;
		margin:0 auto;
}
.mynavi img{
	border: 1px #dcdcdc solid;
}

/*募集要項*/
.mynavi img{
	max-width:202px;
}

}