/* ---------------------------------------------------------------------
共通
--------------------------------------------------------------------- */
html,body{
    width: 100%;
}

body{
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ" , "MS PGothic", "Osaka", arial, helvetica, clean, sans-serif;
	margin:0;
	padding:0;
	line-height:160%;
	font-size:14px;
}


a:link {
	color: #0071c7;
	text-decoration: none;
}
a:hover {
	color: #f5dc00;
	text-decoration: underline;
}
a:visited {
	color: #0071c7;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

a:hover img {
/*	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.70;*/
}
a img{
	border:none;
}
.clear{
	clear:both;
}


.cf::after {

    content: "";
    display: block;
    height: 0;
    clear: both;

}
nav a:hover img {

}
/* ---------------------------------------------------------------------
タグリセット
--------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6,p,div,ul,li,dl,dt,dd,form {
	margin: 0px;
	padding: 0px;
}
ul,li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ol li {
	list-style:none;
}
img {
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align:bottom;
}
table,tr,td{
	border-collapse: separate;
}




/* ---------------------------------------------------------------------
ヘッダー
--------------------------------------------------------------------- */
#header-out,.head-mg{
	display: none;
}

header{
    height: 4.8vw;
    padding-top: 0 !important;
    position: fixed !important;
    width: 100%;
    z-index: 1000;
	background-color:#fff;
}
.hd_wrap {
	width:100%;
	padding:0;
	margin:0 auto;
}




.hd_box{
	width:100%;
	float:left;
	margin: 0 auto;
}
.logo{
	width: 28vw;
	float:left;
	padding: 0.8vw 0 0 2vw;

}
.logo a img{
	width: 90%;
}
.entry{
	width:12vw;
	height: 4.8vw;
	float:right;
	background-color:#c9004c;

}
.entry a{
	background: url(../images/btn_entry.jpg) no-repeat center 2px;
    background-size: auto 90%;
	text-indent: -9999px;
	padding:1vw 1vw;
	display:block;
}
.entry a img{
	width: 100%;
	height: auto;
}
/*ナビ*/
nav {
	background-color:#061824;
	margin-bottom: 0px;
	overflow: hidden;
}
nav ul {
	margin: 0 auto;
	width: 77%;
}
nav li:first-child{
	width: 15vw;
	border-left: 1px solid #3b5e74;
  }
nav li{
	width: 15vw;
	float: left;
	text-align: center;
	border-right: 1px solid #3b5e74;
  }
nav li a{
	padding: 1.5vw 0;
	color:#fff !important;
	position: relative;
	display: inline-block;
	font-size: 1em;
}
nav li a::before {
  position: absolute;
  top: 2.8em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #c9004c;
  transition: 1s;
}
nav li a:hover{
  text-decoration:none;
}

nav li a:hover:before{
  width: 100%;
}
nav li a img{
	border-bottom:#FFF 2px solid;
	transition: 0.3s;
}
nav li a.on img{
	border-bottom:#144685 2px solid;
}

nav li a:hover img{
	border-bottom:#144685 2px solid;
}

/*メイン*/
.main_wrap{
	width:100%;
	padding: 4.8vw 0 0 0;
}
.main{
	margin:0 auto;
	z-index:50;
}
.minute {
	padding: 4.8vw 0 0;
}
.minute img {
	width:100%;
}




/* ---------------------------------------------------------------------
フッター
--------------------------------------------------------------------- */
footer{
}

/*ページトップ*/
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.ft_wrap {
	width:100%;
	margin:0 auto;
}

.ft_info_box{
    padding: 10px 0 0 20px;
}
.ft_link_box {
	text-align: right;
}
.ft_link_box ul {
    height: 20px;
    margin: 5px 0 10px 0;
    padding: 0 20px 0 0;
    float: right;
}
.ft_link_box ul li{
	float: left;
	padding: 4px 0 0 10px;
}
.ft_link_box ul li img {
    display: block;
    float: left;
}
.image_txt{
	font-size:10px;
	text-align:right;
	padding-top:2px;
}
	.ft_info_box span{
		display: inline !important;
	}	

.hd_wrap{
	display:block;
}

/*PC用display:none;■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.pc{
	display:block !important;
}
.sp{
	display:none !important;
}
.sp_hd_wrap{
	display:none;
}
.slidemenu {
	display:none;
}

/* ------------------------------画面の横幅が735px以下 (スマホ/タブレット) ------------------------------*/
@media screen and (max-width:735px){

/*SP用display:none;■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.pc{
	display:none !important;
}
.sp{
	display:block !important;
}
.hd_wrap{
	display:none;
}





/*header*/
	#header-out,.head-mg{
	display: flex;
}

.logo a img{
width: 100%;
height: auto;
	}	
	
	
header{
    height: auto;
	width:100%;
	background:#fcfcfc;
	border-top:none;
	position:static !important;
}
#header {
	height: 50px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
	z-index: 2;
}

#header .logo {
	display: block;
	float: left;
	height: auto;
	width: 55vw;
	margin-top: 0px;

}
#header .toplogo {
	margin-top: 5px;
	width:60vw;
}
#header ul li.mynavi {
	float: left;
	height: auto;
	width: 20vw;
	margin-top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mynavi{
	background-color: #c9004c;
	padding: 0px 10px 0px;
	margin: 5px 10px !important;
	height: 40px !important;
	width: 12vw !important;
	}
.mynavi a{
	color:#fff !important;
	text-align: center;
	font-size:80%;
	}
/*-----スマホ用折り畳みメニュー------*/

#slide-header {
	height: 50px;
	position: fixed;
	width: 50px;
	z-index: 3;
	right: 0px;
	top: 0px;
	display: block;
	margin-right: 10px;
}
#slide-header .button {
	width: 50px;
	height: 50px;
	position: relative;
	display: block;
	top: 0px;
}

.menu-button-right {
	right: 0px;
}

#menu-nav {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}
#menu-button {
	vertical-align: bottom;
	float: right;
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(../images/menu_button.png);
	background-position: center top;
	background-size:50px;
    

}
#menu-button.selected,
#menu-button:active {
    opacity: 1;
	background-repeat: no-repeat;
	background-image: url(../images/menu_button-on.png);
	background-position: center top;
	background-size:50px;
	z-index:4;
    
}
#menu-button-inner {
    width: 50px;
    height: 65px;
	z-index:4;
}
#gNavi {
	box-sizing: border-box;
	clear: both;
	display: none;
	position: fixed;
	width: 100%;
	z-index: 100;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: rgba(0,0,0,0.5);
	top: 50px;
	
}

#gNavi ul {
	overflow: hidden;
	border-radius: 5px;
	/**border: 1px solid #ccc;
	box-shadow:0 0px 10px #ccc;**/
}
#gNavi li {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	width: 100%;
}
#gNavi li br{
	display:none;
}
#gNavi li:last-child {
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #ccc;
}

#gNavi a {
	white-space: nowrap;
	text-decoration: none;
	display: block;
	line-height: 2em; /* 46/16 = 3.375em */
	height: 2em; /* 46/16 = 3.375em */
	padding: 5px; /* 6/16 = .375em */
	font-weight: bold;
	/**background-image: url(../img/icon03.png);
	background-repeat: no-repeat;
	background-position: right center;**/
	color: #fff;
}
#gNavi ul li .pd {
	padding-top: 0px;
	padding-bottom: 0px;
}
#gNavi a:hover,
#gNavi a:active {
    
	
}
#gNavi ul li img {
	display:none;
}
/*-----//スマホ用折り畳みメニュー------*/

.main img {
	width: 100%;
}




/*　フッター　==================================*/
	
	.ft_info_box span{
		display: block !important;
	}	
	.ft_info_box span.pc {
		display: none !important;
	}	
.ft_link_box ul {
    height: auto;
    margin: 5px 0 10px 0;
    padding: 20px 20px 20px 0;
    float: right;
    background-color: #ddd;
    width: 100%;
}	
.ft_link_box ul li {
    float: none;
    padding: 4px 0 0 10px;
	height: 15px;
}
.ft_link_box ul li img {
    display: block;
    float: right;
}	

.ft_copy_wrap{
	width:96%;
	margin:0 auto;
}

.ft_copy_box{
	width:80%;
	margin:0 auto;
	float:none;
}
.ft_copy_box img{
	width:100%;
	height:auto;
}
.ft_entry_box{
	width:90%;
	float:none;
	margin:0 auto 10px;
}
.ft_entry_box img{
	width:100%;
	height:auto;
}


.image_txt{
	font-size:10px;
	text-align:right;
	padding-top:2px;
}

/*ページトップ*/
#page-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}



/*メイン*/
.main_wrap{
	width:100%;
	padding:0;
}
.main{
	width:100%;
	margin:0 auto;
	z-index:50;
}

.top_bt_sp img{
	width:100%;
	height:auto;
}




}